<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col">Update</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.orderables.each do |orderable| %>
      <% product = orderable.product %>
      <tr>
         <div id="cart-#<%= product.id %>">

          <th scope="row resize">
            <% if product.images.attached? %>
              <%= image_tag product.images.first, class: 'resize ' %>
            <% else %>
              No Product Image
            <% end %>
          </th>
          <td><%= product.title %></td>
          <td><%= product.currency %><%= product.price %></td>
          <td><%= orderable.quantity %></td>
           <td><%= orderable.total %></td>
           <td>
             <%= form_with(url: carts_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <div class="input-group">
                <%= f.number_field :quantity, value: orderable.quantity, min:0, class: "form-control" %>
              <%= f.submit "update", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </td>
          <td>
            <%= form_with(url: carts_remove_path) do |f| %>
              <%= f.hidden_field :id, value: orderable.id %>
              <%= f.submit "Remove from Cart", class: 'btn btn-danger' %>
            <% end %>
          </td>

        </div>
      </tr>
    <% end %>
  </tbody>
</table>
